
@{
    ViewBag.Title = "Đổi mật khẩu";
}

<div class="box box-primary">
    <div class="box-body">
        <from class="form-horizontal" action="~/Account/ChangePassword" method="post">
            @Html.AntiForgeryToken()
            @{ var userAccount = _20T1020441.Web.Converter.CookieToUserAccount(User.Identity.Name); }
            <div class="form-group">
                <label class="control-label col-sm-2" for="Email">Email</label>
                <div class="col-sm-10">
                    <input type="email"
                           class="form-control"
                           id="userName"
                           name="userName"
                           value="@userAccount.UserName"
                           placeholder="" autofocus />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="Email">Mật khẩu cũ</label>
                <div class="col-sm-10">
                    <input type="password"
                           class="form-control"
                           id="oldPassword"
                           name="oldpassword"
                           value="Password"
                           placeholder="" autofocus />

                </div>
                @Html.ValidationMessage("", "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2" for="Email">Mật khẩu mới</label>
                <div class="col-sm-10">
                    <input type="password"
                           class="form-control"
                           id="newPassword"
                           name="newPassword"
                           value="password"
                           placeholder="" autofocus />
                    @Html.ValidationMessage("", "", new { @class = "text-danger" })
                </div>
                
            </div>

            <div class="col-xs-8">
                @Html.ValidationMessage("","",new {@class ="text-danger"})
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary"><i>Đổi mật khẩu</i></button>
                    <a  href="~/" class="btn btn-default" >
                        Quay lại
                    </a>
                </div> 
            </div>

        </from>
    </div>

</div>
