@model _20T1020441.Web.Models.CustomerSearchOutput
@{
    Layout = null;
}

<p>Có <strong>@string.Format("{0:N0}", Model.Rowcount)</strong> nhà cung cấp trong tổng số <strong>@string.Format("{0:N0}", @Model.PageCount) </strong>trang</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="bg-primary">
            <th>Tên Khách hàng</th>
            <th>Tên liên lạc</th>
            <th>Địa chỉ</th>
            <th>Thành phố</th>
            <th>Mã bưu chính</th>
            <th>Quốc gia</th>
            <th>Email</th>
            <th>mật khẩu</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>

                <td>@item.CustomerName</td>
                <td>@item.ContactName</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.PostalCode</td>
                <td>@item.Country</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td class="text-right">
                    <a href="~/Customer/Edit/@item.CustomerID" class="btn btn-success">
                        <i class="glyphicon glyphicon-edit" title="Sửa"></i>
                    </a>
                    <a href="~/Customer/Delete/@item.CustomerID" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash" title="xóa"></i>
                    </a>
                </td>
            </tr>
        }


    </tbody>
</table>

<div class=" text-center">
    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
        <ul class="pagination">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="paginate_button active">
                        <a href="#">@i</a>
                    </li>
                }
                else
                {
                    <li class="paginate_button">
                        <a href="javascript:;" onclick="doSearch(@i)">@i</a>
                    </li>
                }

            }
        </ul>
    </div>
</div>